{% extends 'base.html' %} 

{% block title %}Article Detail{% endblock title %} 

{% block content %} 
    <div class="article_detail">
        <h1>{{ article.title }}</h1>
        <span>   By:  {{ article.author }}  |  {{ article.date }}</span>
        <p>{{ article.body }}</p>

        <div class="card-footer text-center text-muted">
            <a href="{% url 'article_edit' article.pk %}">Edit</a> | 
            <a href="{% url 'article_delete' article.pk %}">Delete</a> |
            <a href="{% url 'article_list' %}"">Back to list</a>
        </div>
    </div>
 

{% endblock content %} 