{% extends 'base.html' %} 

{% block title %}Home{% endblock title %} 

{% block content %} 
    <h1 class="welcome">Welcome to the News site with all your breaking news!!!</h1>
    <p>This site was especially designed to bring you all the news you need and want.</p>
{% if user.is_authenticated %}

    Hello {{ user.username }}, please let us know if there is any content that you are missing.
    
        <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %} 
        <p>Your are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
        <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %} 
{% endblock content %} 